body{
     background-color: rgb(249, 227, 201);
     color: rgb(244, 194, 96);
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}