:root{
     --cor-um: #C5EBD6;
     --cor-dois: #83E1AD;
     --cor-tres: #3DDC84;
     --cor-quatro: #2FA866;
     --cor-cinco: #063D1E;
     --fonte01: Arial, Helvetica, sans-serif;
     --fonte02: 'Bebas Neue', cursive;
     --fonte03: 'Android', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
     font-family: 'Android';
     src: url(fontes/idroid.otf);
}

*{
     padding: 0;
     margin: 0;
}

.cabecalho{
     background-image: linear-gradient(to bottom, #C5EBD6, #2FA866);  
     font-family: var(--fonte01);
     color: white;
     text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.429);
     box-shadow: 2px 2px 10px black;
}

.cabecalho__titulo, .cabecalho__texto{
     padding: 30px;
     text-align: center;
}

.menu{
     padding: 5px;
     margin-left: 10px;
     
     
}

.menu > a{
     margin-right: 10px;
     text-decoration: none;
     color: white;
     font-family: var(--fonte01);
}

body{
     background-color: var(--cor-dois);
}

.conteudo{
     background-color: white;
     padding: 30px;
     margin: auto;
     width: 900px;
     font-family: var(--fonte01);
     text-indent: 3%;
}

.conteudo__titulo{
     font-family: var(--fonte03);
     background-image: linear-gradient(to right, #db87a286, white);
     margin-top: 10px;
     margin-bottom: 10px;
}

.video{
     background-color: #063D1E;
     justify-content: center;
}