
body{
     background-color: lightyellow;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

mark{
     background-color: aqua;
}

abbr{
     text-decoration:underline;
}